.lifeboat--color-selector {
  /* background: blue; */
  left: 10px;
  top: 2em;
}
.lifeboat--color-selector > button {
  filter: brightness(110%);
  width: 17px;
  border: 2px solid var(--color-text-tertiary);
  border-radius: 3px;
  background: none;
  padding: 0;
  height: 22px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("chrome-extension://__MSG_@@extension_id__/img/color_selector.svg");
}

.lifeboat--color-selector ul {
  display: none;
  position: absolute;
  padding: 0.5em;
  box-shadow: 1px 1px 5px black;
  z-index: 1;
  grid-auto-flow: column;
  grid-gap: 0.5em;
  list-style: none;
  background-color: var(--color-bg-overlay);
  border: 1px solid var(--color-border-overlay);
  border-radius: 6px;
  box-shadow: var(--color-dropdown-shadow);
}

.lifeboat--color-selector ul.open {
  display: grid;
}

.lifeboat--color-selector ul li {
  display: inline-block;
  width: 2em;
  height: 2em;
  cursor: pointer;
}

.lifeboat--color-selector ul li.no-color {
  background-size: contain;
  background-image: url("chrome-extension://__MSG_@@extension_id__/img/remove_color.svg");
}

.lifeboat--emphasize-button {
  left: 10px;
  top: 53px;
  width: 17px;
  height: 20px;
  border: 2px solid var(--color-text-tertiary);
  border-radius: 3px;
  background: none;
  padding: 0;
  filter: brightness(110%);
  background-size: 21px;
  background-position: center;
  background-image: url("chrome-extension://__MSG_@@extension_id__/img/crown.svg");
}

article pre[lang="lifeboat"] {
  display: none;
}

article {
  transition: background-color 1s;
  border-width: 0;
}

article.lifeboat--emphasize,
article.lifeboat--emphasize.border {
  border: 5px double var(--color-text-secondary) !important;
}

.hide-dialog > details {
  visibility: hidden;
}
